/*Aqui meto las propiedades del portfolio.

Usé claude para afinar una buena paleta de colores, ya que en mis 
proyectos anteriores las paletas eran muy monótonas */

:root {
  --color-fondo: #f5f50eb;
  --color-fondo-alt: #ede6de;
  --color-terracotta: #b5613a;
  --color-terracotta-oscuro: #854a28;
  --color-terracotta-claro: #d4845e;
  --color-texto: #2c2420;
  --color-texto-suave: #6b5a52;
  --color-blanco: #faf7f4;
  --color-borde: #d9cfc7;

  --fuente-principal: "Inter", sans-serif;
  --fuente-titulo: "Syne", sans-serif;

  --texto-xs: 0.75rem;
  --texto-sm: 0.875rem;
  --texto-base: 1rem;
  --texto-lg: 1.125rem;
  --texto-xl: 1.25rem;
  --texto-2xl: 1.5rem;
  --texto-3xl: 2rem;
  --texto-4xl: 2.75rem;
  --texto-5xl: 3.5rem;

  /* Espaciado */
  --espacio-xs: 0.5rem;
  --espacio-sm: 1rem;
  --espacio-md: 1.5rem;
  --espacio-lg: 2.5rem;
  --espacio-xl: 4rem;
  --espacio-2xl: 6rem;

  /* Efectos*/
  --radio-sm: 4px;
  --radio-md: 8px;
  --radio-lg: 16px;
  --sombra: 0 2px 12px rgba(44, 36, 32, 0.08);
  --sombra-hover: 0 6px 24px rgba(44, 36, 32, 0.15);
  --transicion: 0.3s ease;
}
